@font-face {
     font-family: dusha;
     src: url('fonts/dusha.ttf');
}
*{
	padding: 0px;
	border: 0px;
	margin: 0px;

}
li{
	list-style-type: none;
	
}
body{
	background-color: #D3D3D3;
	font-family: "tahoma";
}
#taca_copa{
	position: absolute;
	left: 1px;
	height: 90px;
	width: 90px;
	float: left;
}
.container{
	display: grid;
	grid-template-areas: 'header header '
						'lista lista '
						'main aside'
						'footer footer';
	
	grid-gap: 10px;
	grid-template-columns: 3fr 1fr; 
	grid-template-rows: 15vh 5vh 70vh 5vh;
}
nav>ul>li:hover{
  background-color: #ddd;
  border:5px solid #ddd;
}
.header{
	grid-area: header;
	text-align: center;
	background-color: #00CD66;
	font-family: dusha;
	font-size: 20px;
	padding: 2px -3px 2px -3px;
	background-image: url("background_copa.jpg");
	color: white;	
	
}
.h1_flex{
	display: flex;
	justify-content: center;
	flex-direction: column;
	

}
.lista{
	grid-area: lista;
	text-align: center;
	font-family: sans-serif;
	font-style: bold;
	background-color: #00CD66;
	
}
.main{
	grid-area: main;
	background-color: #00CD66;

	display: grid;
	grid-template-areas: 'noticias estatisticas '
						'noticias estatisticas'
						'jogos jogos';
	
}
.aside2{
	grid-area: aside;
	background-color: #00CD66;
	

	
}
footer{
	grid-area: footer;
	text-align: center;
	color: #696969;
	background-color: #00CD66;
}
.lista-flex{
	display: flex;
	width: 100%;
	height: 100%;
	
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	
	text-align-last: center;

}
.lista-flex > li{
	width: 15%;
	height: 100%;
	background-color: #CD0000;
	color: white; 
	display: flex;
	justify-content: center;
	flex-direction: column;

}
.esportes{
	
}
.flex-aside{
	display: flex;
	width: 80%;
	height: 80%;
	
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}
#noticias{
	grid-area: noticias;
	flex-direction: left;
	
}

.titulo{
	flex-wrap: wrap;
}
.numero{
	flex-direction:column;
	font-size: 30px;
  
	/*colocar um abaixo do outro*/
}

#jogos{
	grid-area: jogos;
	
	flex-direction: left;
}

#estatisticas{
	grid-area: estatisticas;
	flex-direction: center;
	/*criar uma table de 2 linhas 3 columns: */
}